img {
    width: 30%;
    float: left;
    margin: 1.66%
}

p {
  font-family: 'Raleway', sans-serif;
  margin-left: 1.66%;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 4px solid gray;
  width: 30%;
  padding-bottom: 20px;
  padding-top: 10px;
